@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.header {
position: relative;
position: fixed;
display: flex;
width: 100%;
height: 100px;
background: #7B68E1;

}

.body {
    background-color: rgb(166, 132, 197);
}

.logo { 
    position: fixed;
width: 15%;
top: 30px;
left: 40px;
border-radius: 100%;
}

.photos {
    position: fixed;
font-size: 24px;
top:60px;
left: 30%;
font-family: 'Roboto', sans-serif;
}
.history {
    position: fixed;
    font-size: 24px;
    left: 45%;
    top:60px;
    font-family: 'Roboto', sans-serif;
    }

/* .kva {
width: 100%;
height: 3200px;
background: rgb(166, 132, 197);
}  */
.kva2   {
    width: 100%;
    height: 200px;
    background: rgb(166, 132, 197);
    }   

.photo2 {
   
width: 50%;
}

.kva p {
font-size: 28px;
font-family: 'Roboto', sans-serif;
}
