@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.header {
position: relative;
position: fixed;
display: flex;
width: 100%;
height: 100px;
background: #7B68E1;

}

.logo { 
    position: fixed;
width: 150px;
height: 150px;
top: 30px;
left: 40px;
border-radius: 100px;
}

.photos {
position: fixed;
font-size: 28px;
top: 60px;
left: 300px;

}
.history {
    position: fixed;
    font-size: 28px;
    top: 60px;
    left: 380px;
    }

.kva {
width: 100%;
height: 1800px;
background: rgb(166, 132, 197);
} 
.kva2   {
    width: 100%;
    height: 200px;
    background: rgb(166, 132, 197);
    }   

.photo2 {
   
width: 30%;
}

.kva p {
font-size: 28px;
font-family: 'Roboto', sans-serif;
}
